<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <mysql>
        <connections>
            <add name="BookCatalog"
                host="localhost"
                userName="root"
                password=""
                dbName="bookcatalog"
                dbExtension="PDO"/>
            <add name="Books"
                host="localhost"
                userName="root"
                password=""
                dbName="bookcatalog"
                dbExtension="MySQLi"/>
        </connections>
    </mysql>
</configuration>